name: Test CI (v2)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Build check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Generate jacocoTestReport
        run: ./gradlew jacocoTestReport

      - name: Upload jacocoTestReport to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
          directory: /home/runner/work/REMINDER_ANDROID/REMINDER_ANDROID/
          files: ./build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml

      - name: action-slack
        uses: 8398a7/action-slack@v3.12.0
        with:
          status: custom
          fields: job,commit,author,pullRequest,took
          mention: here,
          if_mention: failure,cancelled,
          custom_payload: |
            {
              text: 'Github Actions μ•λ¦Ό',
              attachments: [{
                  color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                  title: 'Pull Request CI κ°€ μ™„λ£λμ–΄!',
                  text: 'μ•„λμ— μƒμ„Έν• λ‚΄μ©μ΄ μμΌλ‹, μ‚΄ν΄λ³΄λ©΄ μΆ‹μ„ κ²ƒ κ°™μ•„ π†',
                  fields: [
                      {
                          title: 'title',
                          value: `\`${process.env.AS_PULL_REQUEST}\``,
                          short: true
                      },
                      {
                          title: 'ci result',
                          value: '${{ job.status }}' === 'success' ? '\`μ„±κ³µ\`' : '${{ job.status }}' === 'failure' ? '\`μ‹¤ν¨\`' : '\`μ¤‘λ‹¨\`',
                          short: true
                      },
                      {
                          title: 'author',
                          value: `\`${process.env.AS_AUTHOR}\``,
                          short: true
                      },
                      {
                          title: 'job',
                          value: `\`${process.env.AS_JOB}\``,
                          short: true
                      },
                      {
                          title: 'commit',
                          value: `\`${process.env.AS_COMMIT}\``,
                          short: true
                      },
                      {
                          title: 'took',
                          value: `\`${process.env.AS_TOOK}\``,
                          short: true
                      }
                  ],
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_CI_URL }}
        if: always()